<body>
    <span><a [routerLink]="['/crearLibro']" routerLinkActive="router-link-active"></a></span>

  <div class="container">
	<table>
		<thead>
			<tr>
				<th>Autor</th>
				<th>Titulo</th>
				<th>Edicion</th>
				<th>Palabras clave</th>
                <th>Temas</th>
                <th>Copias</th>
                <th>Disponibles</th>
                <th class="acciones">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>JK Rowling</td>
				<td>Harry Potter y la cámara secreta</td>
				<td>Primera</td>
				<td>Magia, Harry</td>
                <td>Autosuperación, Agradecimiento</td>
                <td>10</td>
                <td>10</td>
                <td><button class="style-5" [routerLink]="['/editarLibro']" routerLinkActive="router-link-active">📝</button>
                    <button class="style-2">💣</button>
                    <button class="style-3">🧿</button>
                </td>
			</tr>
		</tbody>
	</table>
</div>
</body>
