<body>
    <span><a [routerLink]="['/crearLibro']" routerLinkActive="router-link-active"></a></span>

  <div class="container">
	<table *ngFor="let book of libros">
		<thead>
			<tr>
				<th>Autor</th>
				<th>Titulo</th>
				<th>Edicion</th>
				<th>Palabras clave</th>
                <th>Temas</th>
                <th>Copias</th>
                <th>Disponibles</th>
                <th class="acciones">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{book.autor}}</td>
				<td>{{book.titulo}}</td>
				<td>{{book.edicion}}</td>
				<td>{{book.claves}}</td>
                <td>{{book.temas}}</td>
                <td>{{book.copias}}</td>
                <td>{{book.disponibles}}</td>
                <td><button class="style-5" [routerLink]="['/editarLibro']" routerLinkActive="router-link-active">📝</button>
                    <button class="style-2">💣</button>
                    <button class="style-3">🧿</button>
                </td>
			</tr>
		</tbody>
	</table>
</div>
</body>
