<body>
	<div class="hero-container">
		<div class="main-container">
			<div class="poster-container">
				<a href="#"><img src="https://images-na.ssl-images-amazon.com/images/I/91z2aZLwrIL.jpg" class="poster" /></a>
			</div>
			<div class="ticket-container">
				<div class="ticket__content">
					<h4 class="ticket__movie-title">Harry Potter y la cámara secreta</h4>
					<p class="ticket__movie-slogan">
						La Cámara de los Secretos ha sido abierta y Slytherin matará
                        a todos los alumnos que no provengan de familias
					</p>
				</div>
			</div>
		</div>
	</div>
</body>