<body>
	<div class="container center">
		<div class="card">
		  <h2>Harry Potter y la cámara de los secretos</h2>
		  <hr/>
		  <p>La trama sigue el segundo año de Harry Potter en el Colegio Hogwarts
			 de Magia y Hechicería, durante el cual una serie de mensajes en las 
			 paredes de los pasillos de la escuela advierten que la Cámara de los 
			 Secretos ha sido abierta y que el «heredero de Slytherin» matará a todos
			 los alumnos que no provengan de familias...
		  </p>
		</div>
	  </div>
</body>