<body>
    <span><a [routerLink]="['/crearUsuario']" routerLinkActive="router-link-active"></a></span>

  <div class="container">
	<table>
		<thead>
			<tr>
				<th>Carnet/CUI</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Usuario</th>
				<th>Correo</th>
                <th>Rol</th>
                <th class="acciones">Acciones</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>001</td>
				<td>Juan</td>
				<td>Gómez</td>
				<td>juanGo</td>
				<td>juangomez@gmail.com</td>
                <td>Estudiante</td>
                <td><button [routerLink]="['/editarUsuario']" routerLinkActive="router-link-active" class="style-5">📝</button>
                    <button class="style-2">💣</button>
                </td>
			</tr>
		</tbody>
	</table>
</div>
</body>
