<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form onsubmit="event.preventDefault()" class="box">
                    <h1>Iniciar Sesión</h1>
                    <p class="text-muted"> Ingresa tu usuario y contraseña</p> 
                    <input type="text" name="" placeholder="Usuario"> 
                    <input type="password" name="" placeholder="Contraseña">
                    <br>
                    <input type="submit" name="" value="Continuar" href="#">
                    <input type="submit" name="" value="Cancelar" [routerLink]="['/home']" routerLinkActive="router-link-active">
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
