<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <form #login="ngForm" (ngSubmit)="onSubmit()" class="box">
                    <h1>Iniciar Sesión</h1>
                    <p class="text-muted"> Ingresa tu usuario y contraseña</p> 
                    <input type="text" [(ngModel)]="user.usuario" name="ususario" placeholder="Usuario"> 
                    <input type="password" [(ngModel)]="user.password" name="password" placeholder="Contraseña">
                    <br>
                    <input type="submit" value="Continuar">
                    <input type="submit" name="" value="Cancelar" [routerLink]="['/home']" routerLinkActive="router-link-active">
                    <div class="col-md-12">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
