<body>
    <div class="center">
        <h1>Editar Libro/Revista</h1>
        <form>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Autor</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Titulo</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Edicion</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Descripcion</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Temas</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Palabras clave</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Copias</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Disponibles</span>
          </div>
          <div class="box inputbox" >
            <select disabled>
              <option>- Tipo -</option>
              <option>Libro</option>
              <option>Revista</option>
            </select>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Frecuencia</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required">
            <span>Ejemplares</span>
          </div>
          <div class="inputbox">
            <input type="button" value="Crear">
          </div>
        </form>
      </div>
          
    </body>