<body>
<div class="center">
    <h1>Nuevo Usuario</h1>
    <form>
      <div class="inputbox">
        <input type="text" required="required">
        <span>ID</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Nombre</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Apellido</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Usuario</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Correo</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Rol</span>
      </div>
      <div class="inputbox">
        <input type="text" required="required">
        <span>Contraseña</span>
      </div>
      <div class="inputbox">
        <input type="button" value="Crear">
      </div>
    </form>
  </div>
      
</body>