<div class="blog-card" *ngFor="let book of libros">
    <div class="meta">
     
      <ul class="details">
        <li class="author"><a href="#">{{book.edicion}}</a></li>
        <li class="date">{{book.claves}}</li>
		    <li class="date">{{book.temas}}</li>
      </ul>
    </div>
    <div class="description">
      <h1>{{book.titulo}}</h1>
      <h2>{{book.autor}}</h2>
      <p>{{book.descripcion}}</p>
      <p class="read-more">
        <a href="#">Prestar</a>
      </p>
    </div>
  </div>