<body>
    <div class="center">
        <h1>Editar Usuario</h1>
        <form>
          <div class="inputbox">
            <input type="text" required="required" id="carnet" name="carnet" #carnet="ngModel" [(ngModel)]="userUpdated.carnet">
            <span>Carnet/CUI</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="nombre" name="nombre" #nombre="ngModel" [(ngModel)]="userUpdated.nombre">
            <span>Nombre</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="apellido" name="apellido" #apellido="ngModel" [(ngModel)]="userUpdated.apellido">
            <span>Apellido</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="usuario" name="usuario" #usuario="ngModel" [(ngModel)]="userUpdated.usuario">
            <span>Usuario</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="correo" name="correo" #correo="ngModel" [(ngModel)]="userUpdated.correo">
            <span>Correo</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="tipo" name="tipo" #tipo="ngModel" [(ngModel)]="userUpdated.tipo">
            <span>Rol</span>
          </div>
          <div class="inputbox">
            <input type="text" required="required"  id="password" name="password" #password="ngModel" [(ngModel)]="userUpdated.password">
            <span>Contraseña</span>
          </div>
          <div class="inputbox">
            <input type="button" value="Confirmar" (click)="updateUser()">
          </div>
        </form>
      </div>
          
    </body>