<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a >
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text" [routerLink]="['/home']" routerLinkActive="router-link-active">
                            Inicio
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a>
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text" [routerLink]="['/login']" routerLinkActive="router-link-active">
                            Iniciar Sesión
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a>
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text" [routerLink]="['/userMenu']" routerLinkActive="router-link-active">
                            Menú
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a>
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text" [routerLink]="['/adminAcc']" routerLinkActive="router-link-active">
                            Acciones del Administrador
                        </span>
                    </a>
            </ul>
            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span (click)="logOut()" routerLinkActive="router-link-active" class="nav-text">
                            Cerrar sesión
                        </span>
                    </a>
                </li>  
            </ul>

        </nav>
  </body>
    </html>
  

  <div id="particle-container">
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
	<div class="particle"></div>
</div>