<body>
    <div class="center">
        <h1>Nuevo Libro/Revista</h1>
        <form #createbook="ngForm" (ngSubmit)="saveBook()">
          <div class="inputbox">
            <input [(ngModel)]="book.autor" name="autor" type="text" required="required">
            <span>Autor</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.titulo" name="titulo" type="text" required="required">
            <span>Titulo</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.edicion" name="edicion" type="text" required="required">
            <span>Edicion</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.descripcion" name="descripcion" type="text" required="required">
            <span>Descripcion</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.temas" name="temas" type="text" required="required">
            <span>Temas</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.claves" name="claves" type="text" required="required">
            <span>Palabras clave</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.copias" name="copias" type="text" required="required">
            <span>Copias</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.disponibles" name="disponibles" type="text" required="required">
            <span>Disponibles</span>
          </div>
          <div class="box inputbox" >
            <select [(ngModel)]="book.tipo" name="tipo">
              <option selected>- Tipo -</option>
              <option>Libro</option>
              <option>Revista</option>
            </select>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.frecuencia" name="frecuencia" type="text" required="required">
            <span>Frecuencia</span>
          </div>
          <div class="inputbox">
            <input [(ngModel)]="book.ejemplares" name="ejemplares" type="text" required="required">
            <span>Ejemplares</span>
          </div>
          <div class="inputbox">
            <input type="submit" value="Crear">
          </div>
        </form>
      </div>
          
    </body>