<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="container">
	<div class="card">
		<figure class="card__thumb">
			<img src="https://w0.peakpx.com/wallpaper/908/644/HD-wallpaper-bookeverywhere-books-everywhere-fun-knowledge-pages-reading-red-smart-tome-writer.jpg" alt="Picture by Kyle Cottrell" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Prestar Libro/Revista</h2>
				<p class="card__snippet">Aquí puedes ver los libros o revistas disponibles y solicitar préstamos.</p>
				<a href="" class="card__button" [routerLink]="['/prestamo']" routerLinkActive="router-link-active">Ir</a>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="https://img.lovepik.com/feishe/40029/4021.jpg!bdetail650" alt="Picture by Nathan Dumlao" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Devolver Libro/Revista</h2>
				<p class="card__snippet">Aquí puedes devolver todos los libros o revistas que hayas prestado con anterioridad.</p>
				<a href="" class="card__button" [routerLink]="['/devolucion']" routerLinkActive="router-link-active">Ir</a>
			</figcaption>
		</figure>
	</div>

	<div class="card">
		<figure class="card__thumb">
			<img src="https://i.pinimg.com/originals/24/28/3b/24283bb99e4c8fa2f960887e4eb35bc9.png" alt="Picture by Daniel Lincoln" class="card__image">
			<figcaption class="card__caption">
				<h2 class="card__title">Historial de préstamos</h2>
				<p class="card__snippet">Aquí puedes ver el historial con toda la bibliografía que has leído aquí.</p>
				<a href="" class="card__button" [routerLink]="['/historial']" routerLinkActive="router-link-active">Ir</a>
			</figcaption>
		</figure>
	</div>
</div>
